// footer
footer.footer 
	.wrapper 
		.footer__top
			.footer__row 
				.footer__col
					ul.footer__list 
						li 
							a(href="#") Каталог проектов
						li
							a(href="#") Сувениры
						li
							a(href="#") Курсы для инвесторов
						li
							a(href="#") Инвестиционные программы
						li
							a(href="#") Личный кабинет
						li
							a(href="#") Маркетплейс AVAREST
				.footer__col-big
					.footer__text 
						p МПК «Аварест» 
						p юр.адрес: 125480, г.Москва, ул. Вилиса Лациса 6к1 
						p ИНН / КПП: 9706003521 / 770601001 p
						p ОГРН: 1197746654160
					.footer__text 
						p Акционерное Общество "Аварест Инвест" 
						p юр.адрес: 125480, г.Москва, ул. Вилиса Лациса 6к1 
						p ИНН / КПП: 7733372771 / 773301001 
						p ОГРН: 1217700394306
					.footer__text  
						p
							a(href="#") info@avarest.ru
				.footer__col
					.footer__text
						p 
							mark
								a(href="tel:+78005519588") +7 (800) 551 95 88 
						p * Для звонков из РФ 
						p с 10-00 до 17-00 по будням
					.footer__text
						p САЙТ КОНКУРСА ОТБОРА 
						p ПРОЕКТОВ: 
							a(href="findinvest.space") findinvest.space
						p ВОПРОСЫ: 
							a(href="mailto:findinvest@avarest.ru") findinvest@avarest.ru
		.footer__bottom 
			.footer__row 
				.footer__col 
					a(href="#").footer__logo 
						img(src="img/logo_footer.png", alt="")
				.footer__col-big
					.footer__text.footer__text--center
						p 
							a(href="#") СОГЛАСИЕ О ПРИНЯТИИ ИНВЕСТИЦИОННЫХ РИСКОВ
						p 
							a(href="#") Правила обработки персональных данных
						p 
							a(href="#") Положение о конкурсе "Международная битва проектов"
						p Copyright 2019-2022 Все права защищены
				.footer__col 
					.footer__text 
						p 
							a(href="@") Пользовательское Соглашение
						p 
							a(href="@") Политика конфиденциальности
						p 
							a(href="@") Политика обработки кук
	// /footer