extends blocks/base.pug

block title 
	title Главная

block style-libs
	link(rel="stylesheet", href="css/libs/swiper-bundle.css")
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	//- link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")
	//- link(rel="stylesheet", href="css/libs/aos.css")

block content

	.page

		include blocks/header.pug
		
		.content

			// welcome
			.welcome
				#welcomeSlider.welcome__slider 
					.swiper-wrapper
					
						.swiper-slide
							.welcome__slide
								.welcome__content 
									.wrapper 
										.welcome__body.welcome__body--pd
											h1.welcome__title AVAGreece - производство оливкового масла в греции
											ul.welcome__list 
												li Размер пая: от
													span 450 000р
												li + Дивиденды: от
													span 15%
												li + Капитализация доли
											p.welcome__text Стань владельцем плантаций олив в Греции
											.welcome__button 
												.btn.btn--orange
													span Подробнее
											.welcome__blue 
												div
													p Вложено: 
														span 24 млн &#8381;
													p Плантации: 
														span 17 Га
													p Собранно 
														span 31 тонна
											.welcome__arrows
												.welcome__arrow.welcome__arrow--prev.swiper-button-prev
												.welcome__arrow.welcome__arrow--next.swiper-button-next
								.welcome__img 
									img(src="img/welcome.jpg", alt="")

						.swiper-slide
							.welcome__slide
								.welcome__content 
									.wrapper 
										.welcome__body.welcome__body--pd
											h1.welcome__title AVAGreece - производство оливкового масла в греции
											ul.welcome__list 
												li Размер пая: от
													span 450 000р
												li + Дивиденды: от
													span 15%
												li + Капитализация доли
											p.welcome__text Стань владельцем плантаций олив в Греции
											.welcome__button 
												.btn.btn--orange
													span Подробнее
											.welcome__blue 
												div
													p Вложено: 
														span 24 млн &#8381;
													p Плантации: 
														span 17 Га
													p Собранно 
														span 31 тонна
											.welcome__arrows
												.welcome__arrow.welcome__arrow--prev.swiper-button-prev
												.welcome__arrow.welcome__arrow--next.swiper-button-next
								.welcome__img 
									img(src="img/welcome.jpg", alt="")
			//	/welcome

			// description
			.description
				.wrapper
					.description__row
						.description__content 
							.description__name AVA
								span REST
							h2.description__title Это глобальный проект, совладельцем которго становится каждый участник платформы
							p.description__text Мы популяризируем культуру коллективных инвестиций, чтобы каждый человек мог разумно снижать инвестиционные риски и увеличить доходность вложений за счет объединения знания, опыта и ресурсов
							#descriptionBtnFrom
								#descriptionBtn.btn.btn--orange.btn--small
									span Скачать презентацию
						.description__video
							#IL-tI7bpNT8.description__block.js_youtube
								.description__frame
									img(src="img/video.jpg", alt="")
								//- .description__play
								//- 	svg(width="26" height="38" viewBox="0 0 26 38" fill="none" xmlns="http://www.w3.org/2000/svg")
								//- 		path(d="M0.75293 37.5194V0.480469L25.714 18.9999L0.75293 37.5194Z")
						#descriptionBtnTo
			//	/description

			// count
			.count
				.wrapper
					.row 
						.count__col 
							.count__item 
								.count__num.count-number(data-val-up="0" data-val-to="16" data-duration="3000") 16
								.count__text Компаний <br>партнеров
						.count__col 
							.count__item 
								.count__num.count-number(data-val-up="0" data-val-to="7" data-duration="3000") 7
								.count__text Филиалов <br>в разных странах
						.count__col 
							.count__item 
								.count__num.count-number(data-val-up="0" data-val-to="14" data-duration="3000") 14
								.count__text Официальных <br>представителей
						.count__col 
							.count__item 
								.count__num 
									span.count-number(data-val-up="0" data-val-to="25" data-duration="3000") 25
									| +
								.count__text Инвестиционных <br>программ
			//	/count

			// legal
			.legal
				.wrapper
					.legal__img
						img(src="img/legal.jpg", alt="")
					.legal__content
						.row
							.legal__col1
								h2.legal__title Юридические тонкости проекта
								p.legal__text В этой статье мы расскажем: о проекте, основных правилах документооборота, уникальности проекта и многом другом
							.legal__col2
								.legal__block
									.row
										.legal__blockcol1 
											.legal__name Что такое Аварест?
											.legal__icon 
												svg(width="107" height="87" viewBox="0 0 107 87" fill="none" xmlns="http://www.w3.org/2000/svg")
													path(d="M73.7078 19.3365C73.7078 20.6716 72.6252 21.7535 71.2909 21.7535C69.9566 21.7535 68.874 20.6716 68.874 19.3365C68.874 18.0022 69.9566 16.9204 71.2909 16.9204C72.6252 16.9204 73.7078 18.0023 73.7078 19.3365Z" fill="#003398")
													path(d="M71.2894 45.9167C71.9302 45.9167 72.5452 45.6626 72.9983 45.2086C73.4522 44.7555 73.7063 44.1406 73.7063 43.4997V28.9997C73.7063 27.6654 72.6237 26.5828 71.2894 26.5828C69.9551 26.5828 68.8724 27.6654 68.8724 28.9997V43.4997C68.8724 44.1406 69.1265 44.7555 69.5805 45.2086C70.0336 45.6626 70.6485 45.9167 71.2894 45.9167Z" fill="#003398")
													path(d="M24.1654 19.3321H41.0824C42.4166 19.3321 43.4985 18.2502 43.4985 16.916C43.4985 15.5809 42.4166 14.499 41.0824 14.499H24.1654C22.8311 14.499 21.7485 15.5809 21.7485 16.916C21.7485 18.2503 22.8311 19.3321 24.1654 19.3321Z" fill="#003398")
													path(d="M24.1654 28.9998H41.0824C42.4166 28.9998 43.4985 27.918 43.4985 26.5829C43.4985 25.2486 42.4166 24.1667 41.0824 24.1667H24.1654C22.8311 24.1667 21.7485 25.2486 21.7485 26.5829C21.7485 27.918 22.8311 28.9998 24.1654 28.9998Z" fill="#003398")
													path(d="M24.1654 38.6669H41.0824C42.4166 38.6669 43.4985 37.5842 43.4985 36.25C43.4985 34.9157 42.4166 33.833 41.0824 33.833H24.1654C22.8311 33.833 21.7485 34.9157 21.7485 36.25C21.7485 37.5842 22.8311 38.6669 24.1654 38.6669Z" fill="#003398")
													path(d="M24.1654 48.3323H41.0824C42.4166 48.3323 43.4985 47.2505 43.4985 45.9162C43.4985 44.5811 42.4166 43.4993 41.0824 43.4993H24.1654C22.8311 43.4993 21.7485 44.5811 21.7485 45.9162C21.7485 47.2505 22.8311 48.3323 24.1654 48.3323Z" fill="#003398")
													path(d="M103.915 9.66694H96.6653V2.41694C96.6653 1.77528 96.4112 1.16033 95.9581 0.707207C95.505 0.254082 94.89 0 94.2483 0H62.8331C59.0146 0.0105189 55.4277 1.8311 53.1661 4.90825C50.9045 1.83114 47.3176 0.0103571 43.4992 0H12.0839C11.4422 0 10.8273 0.254082 10.3742 0.707207C9.92103 1.16033 9.66694 1.77528 9.66694 2.41694V9.66694H2.41694C1.77609 9.66613 1.16114 9.92102 0.708016 10.3741C0.254083 10.8273 0 11.4422 0 12.0831V70.0831C0 70.7247 0.254083 71.3397 0.708016 71.7928C1.16114 72.2459 1.77609 72.5 2.41694 72.5H26.5843C39.7718 72.5 44.0224 76.4179 51.2343 86.0323C51.6899 86.6415 52.4059 87 53.1666 87C53.928 87 54.6441 86.6415 55.0996 86.0323C62.5907 76.0449 66.7118 72.5 74.9174 72.5H103.917C104.558 72.5 105.173 72.2459 105.626 71.7928C106.08 71.3397 106.334 70.7247 106.334 70.0831V12.0831C106.334 11.4422 106.08 10.8273 105.626 10.3741C105.173 9.92102 104.558 9.66613 103.917 9.66694H103.915ZM62.8327 4.83306H91.8326V58.0004H65.2479C61.555 58.1444 58.0731 59.7635 55.5818 62.4935V12.0833C55.5834 10.1615 56.3481 8.31824 57.7075 6.95979C59.0669 5.60042 60.9093 4.83575 62.8318 4.83326L62.8327 4.83306ZM14.4979 4.83306H43.4979C45.4205 4.83548 47.263 5.60013 48.6222 6.95959C49.9816 8.31815 50.7463 10.1614 50.7479 12.0831V62.6425C48.0228 59.9335 44.6525 58.0004 41.0818 58.0004H14.4971L14.4979 4.83306ZM101.498 67.6678H74.9153C64.7249 67.6678 59.306 72.7016 53.1612 80.6028C46.7915 72.4959 40.9244 67.6678 26.5826 67.6678H4.83264V14.5004H9.6657V60.4178C9.6657 61.0586 9.91978 61.6736 10.3729 62.1267C10.826 62.5798 11.441 62.8347 12.0826 62.8339H41.0826C44.821 62.8339 48.9864 67.1265 51.0044 71.165H51.0036C51.413 71.9838 52.2505 72.5009 53.1657 72.5009C53.3526 72.5009 53.5387 72.479 53.72 72.437C54.4223 72.263 55.0082 71.7815 55.314 71.1262L55.3278 71.165C57.341 67.1363 61.0056 62.8339 65.2489 62.8339H94.2489C94.8906 62.8347 95.5055 62.5798 95.9586 62.1267C96.4118 61.6736 96.6658 61.0586 96.6658 60.4178V14.5004H101.499L101.498 67.6678Z" fill="#003398")
										.legal__blockcol2 
											.legal__blocktext 
												p Avarest.ru - это digital finance платформа для коллективных инвестиций в реальный бизнес и недвижимость.
												p Платформа Аварест дает возможность вам приобретать доли в реальном бизнесе, активах и недвижимости по всему миру совместно с крупными инвесторами. Не зависимо от того где находитесь вы или выбранный вами бизнес проект, вы станете его совладельцем практически в два клика. Для этого необходимо...чиать полностью
								.legal__btn 
									a(href="#").btn.btn--orange.btn--small
										span Читать все статьи
			//	/legal

			// questions
			.questions
				h2.questions__title С нами вы узнаете
				.questions__items 
					.row 
						.questions__col
							.questions__item
								.questions__img 
									img(src="img/pot.jpg", alt="")
								.questions__content 
									h3.questions__subtitle Бизнес и активы для 
										span покупки
									p.questions__text Программы для инвестирования
						.questions__col
							.questions__item
								.questions__img 
									img(src="img/man.jpg", alt="")
								.questions__content 
									h3.questions__subtitle Как стать 
										span инвестором?
									p.questions__text Онлайн курсы для начинающих инвесторов
						.questions__col
							.questions__item
								.questions__img 
								.questions__content 
									h3.questions__subtitle Какие подарки есть у 
										span Ava
										| Rest?
									p.questions__text Бизнес-сувениры, которые приносят реальный доход
						.questions__col
							.questions__item
								.questions__img 
									img(src="img/money.jpg", alt="")
								.questions__content 
									h3.questions__subtitle Как открыть бизнес с 
										span Ava
										| Rest
									p.questions__text Совместный запуск проекта, покупка франшизы AvaRest
			//	/questions
			
		include blocks/footer.pug

block js-libs
	script(src="js/libs/jquery.min.js")
	script(src="js/libs/swiper-bundle.min.js") 
	//- script(src="js/libs/jquery.fancybox.min.js")
	//- script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="js/libs/aos.js")
	//- script(src="js/libs/circle-progress.min.js")
	//- script(src="js/libs/bootstrap.bundle.min.js") 
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")